{% extends 'base.html.twig' %}

{% block title %}Gestion des RDV{% endblock %}

{% block body %}

    <div id="calendar-holder">

    </div>

    <a href="{{ path('appointment_new') }}">Create new</a>
{% endblock %}

