{% extends 'pharmacy_availabe_drugs/_main.html.twig' %}


{% block title %}Répertorié un nouveau médiacament{% endblock %}
{% block pharmacy_content %}
<div class="container-fluid p-2">
    <h1>Répertorié un nouveau médicament</h1>
    
    {{ include('pharmacy_availabe_drugs/_form.html.twig') }}
    <br>
<a class="btn btn-primary" role="button" href="{{ path('pharmacy_availabe_drugs_index') }}">Revenir à la liste</a>

</div>

{% endblock pharmacy_content %}

