{% extends 'pharmacy_availabe_drugs/_main.html.twig' %}

{% block title %}Medicament {{drug.nameDrugs}}{% endblock %}

{% block pharmacy_content %}
<div class="row">
    <div class="container-fluid p5">
        <div class="card">
            <div class="card-header">
                Header
            </div>
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Content</p>
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    
    
    
    
    
        
    </div>
</div>




{% endblock pharmacy_content %}

