{% extends 'pharmacy_availabe_drugs/_main.html.twig' %}

{% block title %}Medicament {{drug.nameDrugs}}{% endblock %}

{% block pharmacy_content %}
<div class="container-fluid p5">
<a href="{{ path('pharmacy_availabe_drugs_index') }}">back to list</a>
<a href="{{ path('pharmacy_availabe_drugs_edit', {'id': pharmacy_availabe_drug.id}) }}">edit</a>
    
</div>



{% endblock name %}

