	<div id="appoint" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="appoint-form">
						<div class="form-header">
							<h1>Prendre rendez avec Ce praticien</h1>
						</div>
                        {{form_start(formAppoint)}}
							
                        {{form_end(formAppoint)}}
					</div>
				</div>
			</div>
		</div>
    </div>
