{{form_start(formDrugs)}}
<div class="row align-items-end">
    <div class="form-group row">
        <div class="col-12">
            <div id="map" class="search-map"></div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            {{ form_row(formDrugs.name) }}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group">
            {{ form_row(formDrugs.distance) }}
        </div>
    </div>
    <div class="col-12 col-md-5 mb-0">
        <div class="form-group mb-0">
            <button type="submit" class="btn medilife-btn">Recherchez<span><i class="fa fa-search" aria-hidden="true"></i></span></button>
        </div>
    </div>
</div>
{{form_end(formDrugs)}}