
                                    {{form_start(formDoctor)}}
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div id="map" style="height: 200px; padding: 15px;"></div>
                                        </div>
                                    </div>
                                    <div class="row align-items-end">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                {{ form_row(formDoctor.profession) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                {{ form_row(formDoctor.distance) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 mb-0">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="btn medilife-btn">Recherchez<span><i class="fa fa-search" aria-hidden="true"></i></span></button>
                                            </div>
                                        </div>
                                    </div>

                                    {{form_end(formDoctor)}}