<div class="row bottom tags-wrap">
    <div class="col-full tags">
        <h3>Les Mots-clés</h3>

        <div class="tagcloud">
            {% for keyword in keywords %}
                
            <a href="#0">{{keyword.keyword}}</a>

             {% endfor %} 
        </div> <!-- end tagcloud -->
    </div> <!-- end tags -->
</div> <!-- end tags-wrap -->

</section> <!-- end s-extra -->
