{% extends 'Blog/baseBlog.html.twig' %}
{% block className %}
    top
{% endblock className %}

{% block body %}
<div class="s-pageheader">

{% include "Blog/_navigation.html.twig" %}
</div>
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                   Un problème Contactez nous
                </h1>
            </div> <!-- end s-content__header -->
    


            <div class="col-full s-content__main">


                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Nous sommes situés à </h3>

                        <p>
                        Baoboab Rue 13, Villa 97
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>Nos Infos</h3>

                        <p>REF-MED@gmail.com<br>
                        REF-MED@gmail.com <br>
                        Telephone:+2221 77 386 36 72
                        </p>

                    </div>
                </div> <!-- end row -->

                <h3>Dites nous Bonjour</h3>

                <form name="cForm" id="cForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                        </div>

                        <div class="form-field">
                            <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                        </div>

                        <div class="form-field">
                            <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website"  value="">
                        </div>

                        <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" ></textarea>
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>

                    </fieldset>
                </form> <!-- end form -->


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->


       
{% endblock body %}