
            <div class="row">

                <div class="form-header mb-15">
                    <h1>Modifier ce rendez-vous</h1>
                </div>
                {{form_start(formAppoint, { 'attr': {'class': 'col-md-12'}})}}
                <h3 class="mt-15">Date du début</h3>
                         <div class="row">
                            <div class="col-md-12 m-auto">
                                <div class="form-group">
                              {{form_widget(formAppoint.beginAt)}}
                                </div>
                            </div>
                            <blockquote><p style="color: aliceblue;">Ce rendez vous durera une heure</p></blockquote>
                        </div> 
                        <div class="form-btn">
                            <button class="submit-btn">Modifier</button>
                        </div>
                {{form_end(formAppoint)}}
        </div>
