{% extends 'appMain.html.twig' %}

{% block title %}Gestion des RDV{% endblock %}

{% block body %}

{% block addStyleSheets%}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
{% include "includeApp/_navigation.html.twig" %}
<div class="container">
{% block wrapper %}
<div class="wrapper">
    {% block content_appoint %}{% endblock %}
    
    <sidebar>
      <div class="logo">logo</div>
      <div class="avatar">
        <div class="avatar__img">
          <img src="https://picsum.photos/70" alt="avatar">
        </div>
        <div class="avatar__name">John Smith</div>
      </div>
      <nav class="menu">
        <a class="menu__item menu__item--active" href="#">
            <i class="menu__icon fa fa-calendar"></i>
            <span class="menu__text">Calendrier</span>
          </a>
        <a class="menu__item" href="#">
            <i class="menu__icon fa fa-calendar-plus-o"></i>
            <span class="menu__text">Ajouter RDV</span>
          </a>
          <a class="menu__item" href="#">
            <i class="menu__icon fa fa-calendar-times-o"></i>
            <span class="menu__text">RDV non confirmés</span>
          </a>
          <a class="menu__item" href="#">
            <i class="menu__icon fa fa-calendar-check-o"></i>
            <span class="menu__text">RDV EDITION</span>
          </a>
      </nav>
      <div class="copyright">Logo REF-MED</div>
    </sidebar>
  </div>
{% endblock %}

</div>
{% endblock %}





