{% extends 'appMain.html.twig' %}

{% block title %}Gestion des RDV{% endblock %}

{% block body %}
{% block addStyleSheets%}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}
{% include "includeApp/_navigation.html.twig" %}
{% for label,messages in app.flashes %}
<div class="col-12">
    <div class="alert alert-{{label}} alert-dismissible fade show">
        {% for message in messages %}
        <p>{{message}}</p>                    
        {% endfor %}
    </div>
</div>
{% endfor %}
{% block wrapper %}
<div class="wrapper p-0">
 {% block appointment_content %}
 
 {% endblock %} 
  {% block sidebar %}    
{% include "appointment/_sidebar.html.twig" %}      
{% endblock sidebar %}
    
{% endblock %}

</div>
{% endblock %}





